<div class="row-fluid">
<%= image_tag "meioambiente.jpg", :class => "imgpos", :size => "600x100" %>

<h3>Bem vindo!</h3>
<p>A Semana de Meio Ambiente visa oportunizar discussões profundas com foco nas questões ambientais, perfil e perspectivas do técnico em meio ambiente e projetos ambientais do IFPI campus Floriano.</p>
	<table class="table table-bordered">
		<caption>Datas e Horários</caption>
		<thead>
			<tr>
		    <th>Atividade</th>
		    <th>Dia de realização</th>
		    <th>Horário</th>
		    <th>Local</th>
		  </tr>
		</thead>
		<tbody>
			<tr class="info">
				<td>Período de Inscrição</td>
				<td>13/05 a 03/06/2013</td>
				<td>Das 08 às 12h / 14 às 22h</td>
				<td>Sala da Coordenação de Ambiente, Saúde e Segurança</td>
			</tr>

			<tr class="success">
				<td>Período de Realização</td>
				<td>04 a 06 de Jun/2013</td>
				<td>Das 08 às 22h</td>
				<td>#</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered">
		<caption>Taxas de inscrição</caption>
		<thead>
			<tr>
		    <th>Atividade</th>
		    <th>Taxa de inscrição</th>
		  </tr>
		</thead>
		<tbody>
			<tr class="info">
				<td>A inscrição dará direito a participação em todas as Palestras, atividades para a educação ambiental (no turno manhã), um (01) minicurso e mesa redonda.</td>
				<td>
					R$ 20,00 para profissionais<br />
					R$ 10,00 para alunos
				</td>
			</tr>
		</tbody>
	</table>

  <ul class="inline">
  		<li>
  			<%= link_to 'Programação completa', pages_programacao_path, :class => 'btn btn-primary btn-large' %>
	  	</li>
      <li>
		    <% if user_signed_in? %>
		    	<%= link_to 'Consultar inscrição', pages_status_path, :class => 'btn btn-primary btn-large' %>
		    <% else %>	
					<%= link_to 'Inscreva-se já', new_user_registration_path, :class => 'btn btn-primary btn-large' %>
				<% end %>	
	  	</li>
  </ul>

</div>

  
